<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MetadataBinding" maxBufferPoolSize="655360000" maxBufferSize="655360000"
                    maxReceivedMessageSize="655360000">
                    <security mode="Transport" />
                </binding>
                <binding name="MetadataBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://login.salesforce.com/services/Soap/m/51.0"
                binding="basicHttpBinding" bindingConfiguration="MetadataBinding"
                contract="MetaAPI.MetadataPortType" name="Metadata" />
        </client>
    </system.serviceModel>
</configuration>